{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "parser": "babel-flow",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false
}
